body {
    background: #fafafa;
}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}
table {
    width: 600px;
    font-size: 12px;
    border-collapse: collapse;
    border: 1px solid #E3E3E3;
}
table thead {
    border-top: 1px solid #ccc;
}
table caption {
    font-size: 1.356rem;
    text-align: left;
    text-indent: 10px;
    padding: 10px 0;
}
table tbody tr {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
table tbody td {
    line-height: 19px;
    padding: 10px 8px;
    color: #666;
    white-space: nowrap;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
table thead th {
    line-height: 19px;
    padding: 8px;
    color: #444;
    cursor: pointer;
    border-top: 1px solid #E4E4E4;
    cursor: pointer;
    text-align: left;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
    background: -moz-linear-gradient(top, #fafafa, #f3f3f3);
    background: -ms-linear-gradient(top, #fafafa, #f3f3f3);
    *background: #f5f5f5;
    white-space: nowrap;
}

.crud-btn {
    margin:4px;
    display: inline-block;
    box-shadow: 0 0 1px #ccc;
    padding: 3px;
    border-radius: 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
}