body {
    background: #fafafa;
}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}
table {
    font-size: 12px;
    border-collapse: collapse;
    box-sizing: border-box;
    border: 1px solid #E3E3E3;
    display: table;
}
table thead {
    border-top: 1px solid #ccc;
}
table tbody {
    position:relative;
}
table caption {
    font-size: 1.356rem;
    text-align: left;
    text-indent: 10px;
    padding: 10px 0;
}
table tbody tr {
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
table tbody tr:hover { box-shadow: inset 0px 2px 18px 0px rgba(0,0,0,0.08); cursor: pointer; }
table tbody td {
    line-height: 19px;
    padding: 10px 8px;
    color: #666;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
table thead th {
    line-height: 19px;
    padding: 8px;
    color: #444;
    cursor: pointer;
    border-top: 1px solid #E4E4E4;
    cursor: pointer;
    text-align: left;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
    background: -moz-linear-gradient(top, #fafafa, #f3f3f3);
    background: -ms-linear-gradient(top, #fafafa, #f3f3f3);
    *background: #f5f5f5;
    white-space: nowrap;
}
table tfoot tr {
    background: #F6F6F6;
}
.crud-btn {
    margin:4px;
    display: inline-block;
    box-shadow: 0 0 1px #ccc;
    padding: 3px;
    border-radius: 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#f3f3f3));
}
.crud-h-btn{
    float: right;
    font-size: 13px;
    text-indent: 0;
}

.crud-no-data td{
    text-align: center;
    padding: 50px 0;
}

.crud-mask {
    z-index: 9999;
    background:#ccc;
    opacity: 0.5;
    height: 52px;
    width: 674px;
    text-align: center;
    position: absolute;
    font-size: 1.652rem;
    margin: -52px 0;
}